.open-sans-normal{
  font-family: 'Open Sans Variable';
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/fontsource/fonts/open-sans:vf@latest/latin-wght-normal.woff2') format('woff2-variations');
}


*  nav styles */
nav{
    display: flex;
}

